#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Sign Up", new_user_registration_path
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Bacon ipsum dolor amet swine tongue jowl shankle pork. Shoulder flank spare ribs, ham frankfurter jerky pancetta porchetta boudin landjaeger pork loin. Jowl beef ribs filet mignon ham hock ball tip. Beef shankle rump, shoulder pork chop spare ribs cupim short loin. Doner tail pastrami kevin fatback short loin, tenderloin prosciutto salami meatball meatloaf picanha. Capicola biltong ham shankle leberkas bresaola.
